{% for subject in subjects %}
  <div class="form-check">
    <input type="checkbox" name="subjects" class="form-check-input subject-checkbox" value="{{ subject.id }}">
    <label class="form-check-label">{{ subject.subject }}</label>
  </div>
{% endfor %}

{% for topic in topics %}
  <div id="topic-{{ topic.id }}" class="form-check topic-checkbox d-none">
    <input type="checkbox" name="topics" class="form-check-input topic-checkbox-input" value="{{ topic.id }}">
    <label class="form-check-label">{{ topic.topic }}</label>
  </div>
{% endfor %}
